<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="MySqlConnection" connectionString="server=127.0.0.1;&#xD;&#xA;                        port=3306;&#xD;&#xA;                        userid=root;&#xD;&#xA;                        password=121586;&#xD;&#xA;                        database=newtop31_pos12;&#xD;&#xA;                        Allow Zero Datetime=true;Connect Timeout=30;&#xD;&#xA;                        Default Command Timeout=30;Allow User Variables=True;Charset=utf8" />
  </connectionStrings>
  <appSettings>
    <add key="Theme" value="0" />
    <add key="ConnectionName" value="local" />
    <add key="DefaultPercentage" value="50" />
    <add key="MinimumAmount" value="50" />
    <add key="MaximumAmount" value="50000" />
    <add key="MobileToPosd" value="1" />
    <add key="SeniorToPosd" value="1" />
    <add key="CardToPosd" value="1" />
    <add key="GcExcessToPosd" value="1" />
    <add key="TerminalNo" value="12" />
    <add key="BranchId" value="31" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
  <system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient"/>
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.8.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d"/>
    </DbProviderFactories>
    <connectionStrings>
      <add name="MySqlConnection" providerName="MySQL Data Provider" connectionString="test"/>
    </connectionStrings>
  </system.data>
</configuration>
